.hide,.loading-mask{display: none !important;}
.clear{clear:both}
#mapi_containers.loading .waves-effect{
    position: inherit;
}
#mapi_indicator{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #fff;
}

#mapi_indicator .indicator_container{
    margin-top: 40vh;
}

#login_container .content_wrapper{
    width: 500px;
    margin: auto;
    margin-top: 10vh;
    border: 1px #ccc solid;
    padding: 20px;
}

.mapi_container{
    padding-top: 2px;
}

.mapi_container_indicator{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: #fff;
}

.mapi_container_indicator .progress{
    margin: 0.2rem 0 0.2rem 0;
}