.hide,.loading-mask{display: none !important;}
.clear{clear:both}
#mapi_containers.loading .waves-effect{
    position: inherit;
}
#mapi_indicator{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: #fff;
}

#mapi_indicator .indicator_container{
    margin-top: 40vh;
}

#login_container .content_wrapper{
    width: 500px;
    margin: auto;
    margin-top: 10vh;
    border: 1px #ccc solid;
    padding: 20px;
}

.mapi_container{
    padding-top: 2px;
}

.mapi_container_indicator{
    position: fixed;
    width: 100vw;
    top: 0px;
    left: 0px;
    background: #fff;
}

.mapi_container_indicator .progress{
    margin: 0.2rem 0 0.2rem 0;
}

#api_manager .collection .collection-header{padding-left: 10px;padding-right: 10px;}
#api_manager .collection .collection-header a{    color: inherit;}
#api_manager .collection .collection-header a.side_nav_active_button{
    position: absolute;
    right: 5px;
    top: 5px;
}
#api_manager .material-icons{cursor: pointer}
#api_manager .material-icons:hover{opacity: 0.7}
#api_manager .collection .collection-item{padding-left: 5px;padding-right: 5px;}
#api_manager .collection .collection-item .row{margin-bottom: 0px;}
#api_manager .collection .collection-item .sub_header_wrapper .material-icons{padding-right: 5px;}
#api_manager .collection .collection-item .row .control-item{margin: 0 0.75rem;}
#api_manager .collection .collection-item .row .sub_header{padding-left: 10px;    font-weight: 500;}
#api_manager .collection .collection-item .collection .collection-item.row .input-field,
#api_manager .collection .collection-item .collection .collection-item.row .input-field input{margin: 0px;}
#api_manager .collection .collection-item .collection .collection-item.row .action-field{padding: 0px;}

#api_manager .collection .collection-item .collection {overflow: visible;}
#api_manager .collection .collection-item .collection .controls{height: 15px;}
#api_manager .collection .collection-item .collection .controls .controls_title{
    height: 24px;
    line-height: 24px;
    padding: 5px 5px 5px 15px;
    color: #999;
}
#api_manager .collection .collection-item .collection .controls .material-icons{margin: 4px;}

#api_detail .collapsible .collapsible-body{padding: 1rem 2rem;}
#api_detail .collapsible .collapsible-body pre{margin: 0;}

.side-nav .user-view .background img{width:100%;}

.side-nav li .collection{padding: 0px 32px;}
.side-nav li .collection .collection-item .value{padding-left:15px; color: rgba(0, 0, 0, 0.54)}
.side-nav li .collection .collection-item{position: relative;}
.side-nav li .collection .collection-item .action-icon{
    position: absolute;
    top: 10px;
    right: -5px;
    cursor: pointer;
}

.side-nav li a.donate{
    display: flex;
}
.side-nav li a.donate img{
    margin-left: 10px;
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.material-tooltip ul{
    margin: 0px;
}